<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:UBVFGgtRykabVMFEdAlL0w.adtouch.adbrix.io</string>
		<string>applinks:project-hs.s3.ap-northeast-2.amazonaws.com</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.wndzlf.SsgSag</string>
	</array>
</dict>
</plist>
